/* footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 20em; /* Отрицательное отступание, подберите значение в зависимости от высоты футера */
}

  .content {
    flex: 1;
    padding-bottom: 100px; /* Оставляем место для футера */
  }
  
  .footer-info {
    font-size: 14px;
  }

  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
