/* pagination.css */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}

.pagination-item {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-item:hover {
  background-color: #f4f4f4;
}

.pagination-item p {
  margin: 0;
  display: inline-block; /* Используем блочное отображение для текста */
}